*{
    margin: 0px;
    padding: 0px;
}

.extra-margin{
    margin: 2rem;
}

.cv-head{
    background-color: rgb(37, 150, 190);
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

.cv-head--text{
    color: white;
}
.cv-head--img{
    width: 2rem;
    height: 3rem;
}
.profile{
    border-radius: 50%;
    border-color: aliceblue;
}